<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Repeater_Programming_Utility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Repeater_Programming_Utility.Properties.Settings>
            <setting name="callSign" serializeAs="String">
                <value />
            </setting>
            <setting name="comPort" serializeAs="String">
                <value>VOX</value>
            </setting>
            <setting name="pauseBetweenDigits" serializeAs="String">
                <value>225</value>
            </setting>
            <setting name="pauseBetweenLines" serializeAs="String">
                <value>6000</value>
            </setting>
            <setting name="lengthOfEachTone" serializeAs="String">
                <value>225</value>
            </setting>
            <setting name="commentCharacter" serializeAs="String">
                <value>;</value>
            </setting>
            <setting name="logonCode" serializeAs="String">
                <value />
            </setting>
            <setting name="logoffCode" serializeAs="String">
                <value />
            </setting>
            <setting name="fileOpenSaveLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="windowLocation" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="windowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="viewUser" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="viewTone" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="viewSecurity" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="idBeforeTones" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="idAfterTones" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sshServer" serializeAs="String">
                <value>10.0.0.100</value>
            </setting>
            <setting name="sshUsername" serializeAs="String">
                <value>pi</value>
            </setting>
            <setting name="sshPassword" serializeAs="String">
                <value>raspberry</value>
            </setting>
            <setting name="sshWaitForPrompt" serializeAs="String">
                <value>pi@garage:~$</value>
            </setting>
        </Repeater_Programming_Utility.Properties.Settings>
    </userSettings>
</configuration>