<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Repeater_Programming_Utility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Repeater_Programming_Utility.Properties.Settings>
            <setting name="SerialNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="CallSign" serializeAs="String">
                <value>N5JLC</value>
            </setting>
            <setting name="FullName" serializeAs="String">
                <value>Joshua Carroll</value>
            </setting>
        </Repeater_Programming_Utility.Properties.Settings>
    </userSettings>
</configuration>